body {
  font-family: "Balthazar", cursive;
  background-image: url('imagenes/Fondo.jpg');
  background-repeat: repeat;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}


button {
  width : 50%;
  height: 40px;
  margin: auto;
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
}

button:active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}

.container {
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;  
  text-align: center;
  opacity: 0;
  padding: 5vw;
  border-radius: 10px;
  margin: 8vw;
  transform: scale(0.1);
}

.scale-up-center{animation:scale-up-center 0.4s; } @keyframes scale-up-center{ 0%{transform:scale(.1)} 100%{transform:scale(1)} }

.container.open{
    opacity: 1;
    z-index: 999;
    animation: scale-up-center 0.4s ease-out forwards;
}

#title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #080808;
}

#dailysong {
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  font-size: 1.9rem;
  margin-bottom: 10px;
  margin-top : 40px;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.balthazar-regular {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

#letra {
  font-size: 2rem;
  margin-bottom: 30px;
    color: #020202;
  white-space: pre-line;
}

#spotify_card {
  display: block;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 275px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.957);;
}

#spotify_card:hover {
  transform: scale(1.03);
}

#spotify_img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#spotify_info {
  padding: 10px;
  color: #ffffff;
  text-align: left;
}

a {
  text-decoration: none;
}

#spotify_name {
  font-size: 23px;
  font-weight: bold;
  color: #000000;
}

#spotify_artist {
  font-size: 19px;
  color: #000000;
}

#fecha {
  font-size: 18px;
  margin-top: 20px;
  color: #000000;
}

#daysTogetherCont {
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  font-size: 1.9rem;
  margin-bottom: 10px;
  margin-top : 40px;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
}